/* Write your code here. */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.bg-container {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .bg-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
}

.calculator-heading {
  color: #ffffff;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .calculator-heading {
    font-size: 35px;
  }
}

.text-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .text-container {
    order: 1;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
  }
  .calculator-heading {
    width: 45%;
    font-size: 40px;
    text-align: left;
  }
}

.image-container {
  width: 90%;
}

@media (min-width: 992px) {
  .image-container {
    order: 2;
    width: 50%;
  }
}
.image {
  width: 100%;
}

.label-text {
  color: #e4e7eb;
  font-size: 14px;
  font-weight: bold;
}

.input-element {
  height: 40px;
  width: 250px;
  background: transparent;
  border: 2px solid #e4e7eb;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e4e7eb;
  letter-spacing: 0.5px;
}

.letter-container {
  background-color: #ffffff;
  margin-top: 20px;
  width: 240px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #1d976c;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .letter-container {
    width: 280px;
    height: 60px;
  }

  .input-element {
    width: 70%;
  }
  .input-container {
    width: 100%;
  }
}
